$abs-position: 30px;

.product {
    min-width: 320px;
    max-width: 320px;
    position: relative;
    height: 480px;
    border-radius: 2px;
    box-shadow: 3px 3px 6px 0 rgba($color: #6421212f, $alpha: .5);

    .onclick {
        height: 100%;
        
        .bg-img {
            height: 70%;
        }
        
        .product-details {
            height: 30%;
    
            .product-name {
                display: block;
                font-size: 27px;
                text-transform: uppercase;
                color: #e32d2d;
                font-weight: 600;
                margin: 10px;
            }
    
            .price-row {
                position: absolute;
                bottom: 15px;
                width: calc(100% - 20px);
                margin: 0 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .full-price {
                    font-size: 25px;
                    text-decoration: line-through;
                    font-weight: 500;
                    color: #879195;
    
                    &.hidden {
                        visibility: hidden;
                    }
                }
    
                .discount-price {
                    font-size: 30px;
                    font-weight: 600;
                }
            }
        }
    
        .discount {
            position: absolute;
            top: $abs-position;
            left: 0;
            background-color: #51c5ff;
            height: 40px;
            width: 100px;
            display: flex;
            align-items: center;
    
            span {
                color: #fff;
                font-weight: 600;
                font-size: 20px;
                padding-left: 10px;
            }
        }
    
        .sizes {
            position: absolute;
            bottom: 155px;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            max-width: 220px;
            justify-content: center;
            visibility: hidden;
    
            span {
                font-weight: 400;
            }
        }
    }

    .heart {
        position: absolute;
        top: $abs-position;
        right: $abs-position;
    }

    &:hover {
        box-shadow: 7px 7px 7px 0 rgba($color: #0000002f, $alpha: .5);
        cursor: pointer;

        .sizes {
            visibility: visible;
        }
    }
}